/* Styling for the image preview */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  .container2 {
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: center;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  .preview {
    margin-top: 20px;
    // width:200px;
    // height:400px
  }
  
  .preview img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  input[type="checkbox"] {
    margin: 0;
    padding: 0;
    width: 16px;
    height: 16px;
    vertical-align: middle;
  }
  
  tr {
    transition: background-color 0.3s ease;
  }
  
  tr:hover {
    background-color: #f2f2f2;
  }

  
  .button-container {
    display: flex;
    justify-content: flex-end; 
    margin-bottom: 10px; 
align-items: end; 
right: 0;
 }
  
  /* Style for the buttons */
  button {
    margin-left: 10px; /* Add spacing between buttons */
  }
  
  /* Rest of your existing styles for the table and other elements */
  
  