.btn-profile{
    position: absolute;
     margin-top: -20px;
    right: 0;
    margin-right: 20px;
    color: white;
    background: none;
  }
  
  .mat-icon{
  background: none;
  color: white;
  }
  .spacer{
    float: right;
  
  }
  .btn-icon{
    color: white;
    background:transparent;
  
  }
  .option-icon{
    color: black !important;
  }
  .mat-icon-button{
    background: none;
    border: none;
  }
  